body {
    background-color: #000000;

}

/* CABEÇALHO */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h2 {
    color: var(--cor-texto);
    font-size: 30px;
}

.cabecalho span {
    color: var(--cor-destaque);
}

.cabecalho .logo-cabecalho {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecalho .logo-cabecalho img {
    height: 60px;
}

.navegacao {
    display: flex;
    gap: 50px;
    align-items: center;
}

.cabecalho .navegacao #inscrever {
    border: none;
    border-radius: 25px;

    background-color: var(--cor-texto);

    padding: 10px 35px;

    outline: none;

    font-size: 25px;

}

.cabecalho .navegacao #voltar {
    font-size: 25px;
    align-items: center;
}

.cabecalho .navegacao #voltar:hover {
    cursor: pointer;
    transform: translateY(-3px);
    color: var(--cor-secundaria);
}

.cabecalho .navegacao #inscrever:hover {
    cursor: pointer;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    transform: translateY(-3px);

}
